<% if @recipes.empty? %>
    <p>Nenhuma receita cadastrada ainda</p>
  <% else %>
    <h1>Resultado da busca por: <%= @title %> </h1>
    <% @recipes.each do |recipe| %>
      <%= render recipe %>
    <% end %>
  <% end %>

<%= link_to 'Voltar', root_path %>
