<% if @cuisines.empty? %>
    <p>Nenhum tipo de receita encontrada</p>
  <% else %>
    <% @cuisines.each do |cuisine| %>
      <h1><%= cuisine.name %></h1>
      <ul>
        <li> <%= link_to 'Editar', edit_cuisine_path(cuisine) %> </li>
      </ul>
    <% end %>
  <% end %>

<%= link_to 'Voltar', root_path %>
<%= link_to 'Novo', new_cuisine_path %>
