<h1> <%= @cuisine.name %> </h1>
<% if @recipes.empty? %>
    <p>Nenhuma receita encontrada para este tipo de cozinha</p>
  <% else %>
    <% @recipes.each do |recipe| %>
      <div class="card-deck">
      <% @recipes.each do |recipe| %>
          <%= render recipe %>      
      <% end %>
    <% end %>
  <% end %>

<%= link_to 'Voltar', root_path %>
